<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioRandomizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AudioRandomizerExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AudioRandomizerExtensionMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17053D031D96EC610098AFD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173424881D930A6D00B168CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>174042E31D9265D100236452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>174042FC1D92729400236452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
